@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
    from { left: -5px; }
    to { right: -5px; }
}

.animate-shake {
    animation: shake .1s linear;
    animation-iteration-count: 3;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.icon-calendar {
    width: 0.9287109375em;
}