{% extends 'index.html.j2' %}
{% block body %}
<section class="text-white">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="text-center lg:w-2/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium	 text-white font-mono">
                This is your super duper title. </h1>
            <p class="leading-relaxed mb-8 font-normal">The University of Huddersfield's School of Art, Design
                and Architecture presents the work of 10 of its award-winning
                interior design graduates in this school show for Virtual Design Festival.
            </p>
        </div>
    </div>
</section>
<section>
    <div id="dvCreateSyncFlow" class="flex flex-col w-full max-w-sm mx-auto p-4 border border-gray-200 bg-white shadow">
        <svg style="position: absolute; width: 0; height: 0; overflow: hidden" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <symbol id="icon-calendar" viewBox="0 0 26 28" class="text-gray-700">
                    <path d="M2 26h4.5v-4.5h-4.5v4.5zM7.5 26h5v-4.5h-5v4.5zM2 20.5h4.5v-5h-4.5v5zM7.5 20.5h5v-5h-5v5zM2 14.5h4.5v-4.5h-4.5v4.5zM13.5 26h5v-4.5h-5v4.5zM7.5 14.5h5v-4.5h-5v4.5zM19.5 26h4.5v-4.5h-4.5v4.5zM13.5 20.5h5v-5h-5v5zM8 7v-4.5c0-0.266-0.234-0.5-0.5-0.5h-1c-0.266 0-0.5 0.234-0.5 0.5v4.5c0 0.266 0.234 0.5 0.5 0.5h1c0.266 0 0.5-0.234 0.5-0.5zM19.5 20.5h4.5v-5h-4.5v5zM13.5 14.5h5v-4.5h-5v4.5zM19.5 14.5h4.5v-4.5h-4.5v4.5zM20 7v-4.5c0-0.266-0.234-0.5-0.5-0.5h-1c-0.266 0-0.5 0.234-0.5 0.5v4.5c0 0.266 0.234 0.5 0.5 0.5h1c0.266 0 0.5-0.234 0.5-0.5zM26 6v20c0 1.094-0.906 2-2 2h-22c-1.094 0-2-0.906-2-2v-20c0-1.094 0.906-2 2-2h2v-1.5c0-1.375 1.125-2.5 2.5-2.5h1c1.375 0 2.5 1.125 2.5 2.5v1.5h6v-1.5c0-1.375 1.125-2.5 2.5-2.5h1c1.375 0 2.5 1.125 2.5 2.5v1.5h2c1.094 0 2 0.906 2 2z"></path>
                </symbol>
                <symbol id="icon-calendar-check-o" viewBox="0 0 26 28" class="text-green-700">
                    <path d="M20.359 15.062l-8 8c-0.203 0.187-0.516 0.187-0.719 0l-4.5-4.5c-0.187-0.203-0.187-0.516 0-0.703l0.719-0.719c0.187-0.187 0.5-0.187 0.703 0l3.437 3.437 6.937-6.937c0.203-0.187 0.516-0.187 0.703 0l0.719 0.719c0.187 0.187 0.187 0.5 0 0.703zM2 26h22v-16h-22v16zM8 7v-4.5c0-0.281-0.219-0.5-0.5-0.5h-1c-0.281 0-0.5 0.219-0.5 0.5v4.5c0 0.281 0.219 0.5 0.5 0.5h1c0.281 0 0.5-0.219 0.5-0.5zM20 7v-4.5c0-0.281-0.219-0.5-0.5-0.5h-1c-0.281 0-0.5 0.219-0.5 0.5v4.5c0 0.281 0.219 0.5 0.5 0.5h1c0.281 0 0.5-0.219 0.5-0.5zM26 6v20c0 1.094-0.906 2-2 2h-22c-1.094 0-2-0.906-2-2v-20c0-1.094 0.906-2 2-2h2v-1.5c0-1.375 1.125-2.5 2.5-2.5h1c1.375 0 2.5 1.125 2.5 2.5v1.5h6v-1.5c0-1.375 1.125-2.5 2.5-2.5h1c1.375 0 2.5 1.125 2.5 2.5v1.5h2c1.094 0 2 0.906 2 2z">
                        <title>Access to this calendar is authorised</title>
                    </path>
                </symbol>
                <symbol id="icon-calendar-times-o" viewBox="0 0 26 28" class="text-red-700">
                    <path d="M17.359 21.641l-0.719 0.719c-0.187 0.187-0.5 0.187-0.703 0l-2.938-2.953-2.938 2.953c-0.203 0.187-0.516 0.187-0.703 0l-0.719-0.719c-0.187-0.187-0.187-0.5 0-0.703l2.953-2.938-2.953-2.938c-0.187-0.203-0.187-0.516 0-0.703l0.719-0.719c0.187-0.187 0.5-0.187 0.703 0l2.938 2.938 2.938-2.938c0.203-0.187 0.516-0.187 0.703 0l0.719 0.719c0.187 0.187 0.187 0.5 0 0.703l-2.938 2.938 2.938 2.938c0.187 0.203 0.187 0.516 0 0.703zM2 26h22v-16h-22v16zM8 7v-4.5c0-0.281-0.219-0.5-0.5-0.5h-1c-0.281 0-0.5 0.219-0.5 0.5v4.5c0 0.281 0.219 0.5 0.5 0.5h1c0.281 0 0.5-0.219 0.5-0.5zM20 7v-4.5c0-0.281-0.219-0.5-0.5-0.5h-1c-0.281 0-0.5 0.219-0.5 0.5v4.5c0 0.281 0.219 0.5 0.5 0.5h1c0.281 0 0.5-0.219 0.5-0.5zM26 6v20c0 1.094-0.906 2-2 2h-22c-1.094 0-2-0.906-2-2v-20c0-1.094 0.906-2 2-2h2v-1.5c0-1.375 1.125-2.5 2.5-2.5h1c1.375 0 2.5 1.125 2.5 2.5v1.5h6v-1.5c0-1.375 1.125-2.5 2.5-2.5h1c1.375 0 2.5 1.125 2.5 2.5v1.5h2c1.094 0 2 0.906 2 2z">
                        <title>Access to this calendar is not authorised</title>
                    </path>
                </symbol>
                <symbol id="icon-loading" viewBox="0 0 32 32" class="text-black">
                    <path d="M16 0c-8.711 0-15.796 6.961-15.995 15.624 0.185-7.558 5.932-13.624 12.995-13.624 7.18 0 13 6.268 13 14 0 1.657 1.343 3 3 3s3-1.343 3-3c0-8.837-7.163-16-16-16zM16 32c8.711 0 15.796-6.961 15.995-15.624-0.185 7.558-5.932 13.624-12.995 13.624-7.18 0-13-6.268-13-14 0-1.657-1.343-3-3-3s-3 1.343-3 3c0 8.837 7.163 16 16 16z"></path>
                </symbol>
            </defs>
        </svg>
        <div class="flex flex-col mb-4">
            <label for="name" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">
                Source
            </label>
            <div class="relative">
                <input id="txtSourceSyncEmail" type="text" placeholder="Email address of source calendar" value=""
                    class="text-sm sm:text-base relative w-full border rounded placeholder-gray-400 focus:border-indigo-400 focus:outline-none py-2 pl-2 pr-12">
                <div class="absolute flex border border-transparent right-0 top-0 h-full w-10">
                    <div class="flex items-center justify-center rounded-tl rounded-bl z-10 bg-gray-100 text-lg h-full w-full">                    
                        <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>                        
                    </div>
                </div>                
            </div>
            <div class="font-medium tracking-wide text-blue-500 text-xs text-right float-right mt-1 ml-1 hidden">
                <a class="underline" href="#" target="_blank">Allow access to calendar</a>
            </div>
        </div>
        <div class="flex flex-col mb-4">
            <label for="name" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">
                Destination
            </label>
            <div class="relative">
                <input id="txtDestSyncEmail" type="text" placeholder="Email address for destination calendar" value=""
                    class="text-sm sm:text-base relative w-full border rounded placeholder-gray-400 focus:border-indigo-400 focus:outline-none py-2 pl-2 pr-12">
                <div class="absolute flex border border-transparent right-0 top-0 h-full w-10">
                    <div class="flex items-center justify-center rounded-tl rounded-bl z-10 bg-gray-100 text-lg h-full w-full">
                        <svg class="icon"><use xlink:href="#icon-calendar"></use></svg>
                    </div>
                </div>
            </div>

            <div class="font-medium tracking-wide text-blue-500 text-xs text-right float-right mt-1 ml-1 hidden">
                <a class="underline" href="#" target="_blank">Allow access to calendar</a>
            </div>
        </div>
        <div class="flex flex-col text-center">
            <div class="font-medium tracking-wide text-xs text-left float-right mb-1 ml-1">
                <span id="spFormError" class="text-red-500"></span>
            </div>
            <button id="btnSaveSyncFlow" class="inline-flex items-center justify-center border border-transparent font-medium bg-gray-800 text-white hover:bg-gray-900 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full" type="button" style="transition: all 0.15s ease 0s;">
                <svg class="hidden animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                Save
            </button>
        </div>
    </div>
</section>
{% endblock %}
{% block jsPageName %}'home'{% endblock %}
